@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);


html, body{
  width: 100%;
  height: 100%;
  overflow: hidden!important;
  overflow-x: hidden!important;
  overflow-y: hidden!important;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#wrapper {
  overflow: hidden!important;
}

.backgroundImage{
  background-size: auto 100%;
  width: auto;

}
#spaceship {
  position: absolute;
  left: 0;
  background-image: url('../res/rocket.png');
  background-size: cover;
}

#meteor {
  position: absolute;
  left: 0;
  top: 0px;
  background-image: url('../res/meteor.png');
  background-size: cover;
}

#fuelstation {
  position: absolute;
  left: 0;
  background-image: url('../res/Fuelstation.png');
  background-size: cover;
}

h1 {
  margin: 0pt;
  padding-top: 30pt;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  color: #d7ebe8;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 4px 4px 4px #060002;
}

#mainButtons{
  text-align: center;
}
#fuelText, #highscoreText{


}

#playButton, #exitButton, #howToPlayButton {
  width: 20%;
  length: 3%;
}
